@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  padding: 0;
  margin: 0;
}

:root{
  --bg: #e9deb0;
  --brown: #482c21;
  --red: #a73e2b;
  --green: #2f615e;
}

body{
  background-color: var(--bg);
  display: flex;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 40px;
}
footer{
  font-family: 'Righteous', cursive;
  font-size: 18px;
  color: var(--green);
  width: 100%;
  padding: 12px 8px;
  margin: 0 30px;
  text-align: right;
  border-top: solid 2px #fff;
}

.container{
  width: 100%;
  height: 300px;
  display: flex; 
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#forca{
  width: 30%;
  padding: 16px;
}

#jogo{
  width: 70%;
  padding: 16px;
  background-color: #2f615e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
